.prueba{
    color: rgb(235, 37, 110);
}

.btn-card{
    background-color: rgb(209, 34, 127);
    color: white;
}

.card-body{
    background-color: rgb(195, 195, 196);
}

.card{
    width: 14rem;
}

.grid-bootstrap{
    background-color: rgb(209, 34, 127);
    color: whitesmoke;
}

.grid-bootstrap div{
    border: 1px solid black;
}

.color-nav{
    background-color: rgb(216, 124, 199);
}


.parrafo-css{
    margin-bottom: 500px;
}

.titulo-imagen{
    background-color:rgb(209, 34, 127) ;
}

.texto-imagen{
    background-color:rgb(209, 34, 127) ;
}

.row{
    margin-left: 60px;
}

.btn-primary{
    background-color: rgb(209, 34, 127);
    background: rgb(209, 34, 127);
    border-color: rgb(209, 34, 127);
}


.btn-primary:hover{
    background-color: rgb(154, 22, 93);
    background:  rgb(154, 22, 93);
    border-color:  rgb(154, 22, 93);
}

.accordion-button:not(.collapsed){
    background-color:rgba(209, 34, 127, 0.393) ;
    color:rgb(154, 22, 93) ;
}

.accordion-button:focus{
    box-shadow: none;
}